html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    overflow: overlay;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    display: transparent;
}

.form-map{
    display: flex;
    justify-content: center;
    padding: 5vh 0vh 20vh 0vh;
}

#contactForm{
    width: 20vw;
    /* margin-right: 50px; */
}

.text-white{
    text-decoration: none;
}

.company-desc{
    text-align: justify;
}

#carouselExample{
    padding-bottom: 5vh;
}

.caro-img{
    height: 90vh;
}

.gmap{
    border-radius: 8px;
}

#form-map-cont{
    padding-top: 20vh;
}

#footer-br{
    padding-top: 10vh;
}
